<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Course Registration</title>
  <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


</head>
<body style="background-image:url({% static 'enroll/image/image1.jpg' %});background-repeat:no-repeat;background-size: 1600px 800px;">
<script src="{% static 'enroll/js/jjquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #ddbea9;'>
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><font color="blue"><h1 align="center"><pre>                          Online Software Course Registration</pre></h1> </font></a>

    </div></nav></div><br><br>


</body>
</html>

{% block content %}

{% endblock %}